<!DOCTYPE html>
<html>
<head>
  <title>Offcourse</title>
  <%= stylesheet_link_tag    "offcourse/application", media: "all" %>
  <%= javascript_include_tag "offcourse/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
